---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Card from "../components/Card.astro";
---

<Layout title="Jonathan Fierro">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-40">
			<img
				class="rounded-full w-24 h-24 mb-6"
				src="https://cdn.selvaescondida.mx/uploads/Jf_Dev_435ad4f6b6.png"
				alt="Pixxel"
			/>
			<h1
				class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4 maquina gri"
			>
				Hola! Soy Jonathan Fierro.<a
					href="https://www.linkedin.com/in/jonathan-fierro/"
					class="flex justify-center items-center mano"
				>
					<Badge>No busco trabajo.</Badge>
				</a>
			</h1>

			<h2 class="text-xl opacity-80 mano">
				<span class="mora">Desarrollador de videojuegos indie,</span>  <span class="azul">tambien soy ingeniero en sistemas enfocado en redes y
				servidores,</span> <span class="gold">proximo a certificarme como architect solutions
				associate.</span>
			</h2>
			<ul></ul>
		</section>
	</main>
</Layout>
