<header class="flex justify-center items-center py-5 max-w-screen-lg mx-auto">
    <nav class="flex gap-x-10 opacity-80 text-[#D4AF37] text-larger maquina flex-grow">
        <a href="/">_Home</a>
        <a href="/about">_About</a>
        <a href="/Projects">_Projects</a>
        <a href="/Contact">_Contact</a>
    </nav>
</header>
