---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Badge from "../components/Badge.astro";
import "@fontsource/courier-prime";
import "@fontsource/fuzzy-bubbles";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		
		<Header />
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Pixelify Sans Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {

		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		hmtl {
			scroll-behavior: auto;
		}
	}

	.maquina {
		font-family: "Courier Prime", monospace;
	}
	.mano {
		font-family: "Fuzzy Bubbles", cursive;
	}
	.red {
		color: red;
	}
	.gold {
		color: #d4af37;
	}
	.mora {
		color: #7952b3;
	}
	.azul {
		color: #068fff;
	}

	.gri {
		color: #eeeeee;
	}

	.amaz {
		color: #ff9900;
	}
</style>
